.App {
  text-align: center;
}

.ui.secondary.item.menu {
  margin: 10px;
  padding: 10px;
}

body {
  background-image: url('./images/icon.png');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: calc(100% + 286px) calc(100% - 50px)
}

a {
  color: white;
}


.ui.menu.fixed .item:first-child :last-child {
  margin: 10px 20px;
  width: 20%;
}

.ui.menu.fixed .item:third-child :third-child {
  margin: 10px 0px;
  width: 10%;
}

.ui.menu.fixed .item:last-child {
  padding: 10px;
  margin: 10px 400px;
  height: 5.5em;
  width: 150px;
  right: 100px; 
}

.ui.search .prompt {
  border-color: coral;
  width: 40em;
  padding: 10px 20px 10px 40px;
  height: 5.5em;
  font-size: 1em;
}

.userInfo {
  float: right;
  opacity: 30%;
  margin-right: 140px;
  margin-top: 20px;
}

.contentBody {
  margin-top: 200px;
  margin-right: 140px;
}

.cassette {
  margin: 0px 140px 0px 334px;
  height: 380px;
  width: 600px;
  border-radius: 25px;
  background: url('./images/cassette.png');
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center;
  
}

.recordingContainer {
  height: 380px;
}

.sound-wave {
  margin: 20px 140px 0px 145px;
  height: 100px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.recordingContainer {
  margin: 0px 10px 0px 10px;
}

.gear1 {
  z-index: 80px;
  height: 72px;
  width: 72px;
  background: url('./images/gears.png');
  background-size: 73px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 470px;
  top: 337px
}

.gear2 {
  z-index: 80px;
  height: 72px;
  width: 72px;
  background: url('./images/gears.png');
  background-size: 73px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 723px;
  top: 337px
}

.soundsterContainer {
  width: 400px;
  height: 200px;
  
}

.soundster-input {
  top: 50px;
  left: 110px;
}


