.App {
  text-align: center;
}

.ui.secondary.item.menu {
  margin: 10px;
  padding: 10px;
}

body {
  background-image: url('./images/icon.png');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: calc(100% + 286px) calc(100% - 50px)
}




.ui.menu.fixed .item:first-child :last-child {
  margin: 10px;
  width: 20%;
}

.ui.menu.fixed .item:last-child :last-child {
  margin: 10px;
  width: 20%;
}


.ui.search .prompt {
  border-color: coral;
  width: 45em;
  padding: 10px 20px 10px 40px;
  height: 5.5em;
  font-size: 1em;
}

.userInfo {
  float: right;
  opacity: 30%;
  margin-right: 140px;
  margin-top: 20px;
}




